<?xml version="1.0"?>
<config>
	<modules>
		<Elgentos_MyFavorites>
			<version>1.0.0</version>
		</Elgentos_MyFavorites>
	</modules>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<myfavorites translate="title" module="myfavorites">
											<title>MyFavorites</title>
										</myfavorites>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<frontend>
        <layout>
            <updates>
                <myfavorites>
                    <file>myfavorites.xml</file>
                </myfavorites>
            </updates>
        </layout>
        <translate>
            <modules>
                <Elgentos_MyFavorites>
                    <files>
                        <default>Elgentos_MyFavorites.csv</default>
                    </files>
                </Elgentos_MyFavorites>
            </modules>
        </translate>
	</frontend>
	<global>
	    <blocks>
	        <myfavorites>
	            <class>Elgentos_MyFavorites_Block</class>
	        </myfavorites>
	    </blocks>
		<models>
			<myfavorites>
				<class>Elgentos_MyFavorites_Model</class>
			</myfavorites>
		</models>
		<resources>
			<myfavorites_setup>
				<setup>
					<module>Elgentos_MyFavorites</module>
					<class>Elgentos_MyFavorites_Model_Mysql4_Setup</class>
				</setup>
			</myfavorites_setup>
		</resources>
		<helpers>
			<myfavorites>
				<class>Elgentos_MyFavorites_Helper</class>
			</myfavorites>
		</helpers>
	</global>
</config>
